* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Section Overlays */
  .section-overlay {
    background-color: lightgrey;
    position: relative;
  }
  
  .section-overlay-image {
    width: 100%;
    height: 100%;
  }
  
  .section-overlay-ui {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    margin-top: auto;
  }
  
  .section-overlay-text {
    text-align: center;
    font-weight: 500;
    font-size: 3.5vw;
    color: #F5F5F5;
  }
  
  /* Section Stuff */
  .section-stuff {
    background-color: rgb(230, 230, 230);
  }
  
  .section-stuff-cardlist {
    display: flex;
    width: 100%;
    justify-content: center;
  } 
  
  .section-stuff-card {
    width: 25%;
    margin-bottom: 3vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    color: #1a1818;
  }
  
  .section-stuff-card > img {
    width: 100%;
    height: 18vw;
    object-fit: cover;
  }
  
  .section-stuff-card > h3 {
    font-size: 1.1vw;
    margin: 1vw 0;
  }
  
  .section-stuff-card > p {
    font-size: 1vw;
    margin: 1vw 0;
  }
  
  .section-stuff-card > hr {
    border: 1px dashed rgb(172, 171, 171);
    height: 0;
    margin-bottom: 2px;
  }
  
  .section-stuff-meta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9vw;
    margin: 0 4px;
    margin-bottom: 2.5vw;
  }
  
  /* Section Latest */
  .section-latest {
    background-color: rgb(235, 235, 235);
  }
  
  .section-latest-cardlist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .section-latest-card {
    width: 25%;
    margin: 2vw 1.5vw;
    color: #3b3b3b;
  }
  
  .section-latest-card > img {
    width: 100%;
    object-fit: cover;
  }
  
  .section-latest-card > h3 {
    font-size: 1.3vw;
    margin: 1vw 0;
    text-align: center;
  }
  
  .section-latest-card svg {
    height: 1.2vw;
    width: 1.2vw;
  }
  
  /* Section Client */
  .section-client {
    background-color: #F5F5F5;
  }
  
  .section-client img {
    width: 18.5%;
    margin: 0 10px;
    margin-bottom: 4.5vw;
    filter: opacity(85%) grayscale(300%);
  }
  
  .section-client-list {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  /* Section Work */
  .section-work {
    background-color: #242424;
  }
  
  .section-work > p {
    color: #F5F5F5;
    width: 56%;
    line-height: 1.8;
    margin: 0 auto;
    font-size: 1.2vw;
    margin-bottom: 6.5vw;
  }
  
  /* Additional Classes */
  svg {
    width: 0.9vw;
    height: 0.9vw;
  }

  .section-header {
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.3vw;
    color: #000000;
  }
  
  .section-header > hr {
    width: 30%;
    margin: 0 auto;
    margin-top: 1vw;
    background-color: rgb(172, 171, 171);
    border: 0;
    height: 1px;
  }
  
  button:focus {
    outline: none;
  }

  .button-white {
    background-color: transparent;
    width: 10%;
    margin: 0 50%;
    margin-top: 2vw;
    transform: translateX(-50%);
    border: 1px solid white;
    padding: 7px 10px;
    font-size: 1vw;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button-white:hover {
    background-color: rgba(148, 141, 141, 0.589);
  }
  
  .button-blue {
    background-color: lightseagreen;
    width: 13%;
    margin: 4vw 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    padding: 9px 0px;
    font-size: 1vw;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button-blue:hover {
    background-color: rgb(24, 153, 147);
  }

  @media only screen and (max-width:768px){
    svg {
      width: 2.5vw;
      height: 2.5vw;
    }
    .section-client-list{
      display: inline;
    }
    .section-overlay-text {
      text-align: center;
      font-weight: 500;
      font-size: 5.5vw;
    }
    .section-client img{
      width: 60%;
      margin: 3vw 19vw;
    }
    .section-latest-card{
      width: 60%;
      height: 100%;
    }
    .section-stuff-cardlist {
      display:inline-block;
      overflow: hidden;
      margin: 0 13vw;
    }
    .section-stuff-card {
      width: 70%;
      height: 60%;
    }
    .section-stuff-card > img {
      width: 100%;
      height: 50vw;
      object-fit: cover;
    }
    .section-stuff-meta {
      font-size: 2.5vw;
    }
    .section-stuff-card > h3 {
      font-size: 2.5vw;
      margin: 1vw 0;
    }
    .section-stuff-card > p {
      font-size: 2.5vw;
      margin: 1vw 0;
    }
    .section-latest-card{
      width: 80%;
      height: 100%;
    }
    .section-latest-card > svg {
      width: 2.5vw;
      height: 2.5vw;
    }
    .section-latest-card > h3 {
      font-size: 3vw;
    }
    
    .section-work > p{
      font-size: 4vw;
      margin-bottom: 7vw;
      margin-top: 5vw;
      text-align: justify;
    }
    .button-blue{
      width: 25%;
      font-size: 2vw;
      padding: 6px 0px;
    }
    .button-white{
      width: 16%;
      font-size: 2vw;
      padding: 6px 0px;
    }
    .section-header > h2{
      font-size: 6vw;
      margin-top: 30px;
    }
    .section-header > hr{
      width: 60%;
    }
  }